<?xml version="1.0" encoding="utf-8"?><!-- Copyright 2020 Google Inc. All Rights Reserved. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application>

    <service
      android:exported="false"
      android:name="com.google.firebase.components.ComponentDiscoveryService"> <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>

      <meta-data
        android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar"
        android:value="com.google.firebase.components.ComponentRegistrar"/>
    </service>
  </application>

  <!-- line to test for static disable of the Firebase Perf SDK -->
  <!-- <meta-data android:name="firebase_performance_collection_enabled" android:value="false" /> -->
</manifest>