.gradle/
build/
.idea/
*.iml
captures/
local.properties
google-services.json
_artifacts
.DS_Store
firebase-crashlytics-ndk/.externalNativeBuild/
firebase-crashlytics-ndk/.cxx/
smoke-test-logs/
smoke-tests/build-debug-headGit-smoke-test
smoke-tests/firehorn.log
macrobenchmark-output.json

# generated Terraform docs
.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*