.gradle/
build/
.idea/
*.iml
captures/
local.properties
google-services.json
_artifacts
.DS_Store
firebase-crashlytics-ndk/.externalNativeBuild/
firebase-crashlytics-ndk/.cxx/
smoke-test-logs/
smoke-tests/build-debug-headGit-smoke-test
smoke-tests/firehorn.log
.firebaserc
firebase-debug.log
firebase.json
firestore-debug.log
ui-debug.log
firestore-kl-serialization
smoke-test-logs/
smoke-tests/build-debug-headGit-smoke-test
smoke-tests/firehorn.log
.firebaserc
firebase-debug.log
firebase.json
firestore-debug.log
ui-debug.log
firestore-kl-serialization
.firebaserc
firebase-debug.log
firebase.json
firestore-debug.log
ui-debug.log
firestore-kl-serialization