<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.google.firebase.functions">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application>
    <uses-library android:name="android.test.runner" />
  </application>

  <instrumentation
    android:name="com.google.android.apps.common.testing.testrunner.Google3InstrumentationTestRunner"
    android:targetPackage="com.google.firebase.functions" />
</manifest>
