<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application>
    <service
      android:enabled="false"
      android:name="com.google.firebase.sessions.SessionLifecycleService"
      tools:replace="android:enabled" />
  </application>
</manifest>
