/build
/src/test/java/com/example/firestore_kotlin_serialization/SerializationPluginTest.kt
../.idea
/src/main/java/com/example/firestore_kotlin_serialization/annotations/test.kt
/src/main/java/com/example/firestore_kotlin_serialization/MainActivity.kt
/src/androidTest/java/com/example/firestore_kotlin_serialization/Demo.kt
