<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2021 Google LLC -->
<!-- -->
<!-- Licensed under the Apache License, Version 2.0 (the "License"); -->
<!-- you may not use this file except in compliance with the License. -->
<!-- You may obtain a copy of the License at -->
<!-- -->
<!--      http://www.apache.org/licenses/LICENSE-2.0 -->
<!-- -->
<!-- Unless required by applicable law or agreed to in writing, software -->
<!-- distributed under the License is distributed on an "AS IS" BASIS, -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and -->
<!-- limitations under the License. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.appdistribution.impl.FirebaseAppDistributionRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <!-- The launch mode for Install Activity is singleTask to ensure that after the unknown sources UI
        or the installation flow is complete, the Install Activity does not get recreated which causes loss of state
         See here for more info - https://developer.android.com/guide/components/activities/tasks-and-back-stack#ManifestForTasks -->
        <activity android:name="com.google.firebase.appdistribution.impl.InstallActivity" android:exported="true" android:launchMode="singleTask"/>

        <activity android:name="com.google.firebase.appdistribution.impl.SignInResultActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="intent" android:host="appdistribution" android:path="/${applicationId}"/>

            </intent-filter>
        </activity>

        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".TakeScreenshotAndStartFeedbackActivity"
            android:exported="false" />

        <provider
            android:name="com.google.firebase.appdistribution.impl.FirebaseAppDistributionFileProvider"
            android:authorities="${applicationId}.FirebaseAppDistributionFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/firebase_app_distribution_provider_paths" />
        </provider>
    </application>
</manifest>
