<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.firebase.testing">

  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <activity android:name="android.app.Activity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <meta-data android:name="com.google.firebase.testing.classes"
      android:value="com.google.firebase.testing.TestSuite" />
  </application>
</manifest>
