<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.firebase.inappmessaging">

  <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="23"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <application>
    <uses-library android:name="android.test.runner"/>
    <service tools:node="replace" android:name="com.google.firebase.components.ComponentDiscoveryService">
         <meta-data
              android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
              android:value="com.google.firebase.components.ComponentRegistrar" />
    </service>

    <!-- TODO(b/242389964): init provider crashes the tests process for fiam(d). -->
    <provider
        android:name="com.google.firebase.provider.FirebaseInitProvider"
        android:authorities="${applicationId}.firebaseinitprovider"
        tools:node="remove" />
  </application>
</manifest>
