name: API Information

on: [ pull_request ]

jobs:
  api-information-check:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 2
          submodules: true
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Set up fireci
        run: pip3 install -e ci/fireci
      - name: Run api-information check
        run: |
          fireci api_information \
            --issue_number=${{ github.event.pull_request.number }} \
            --repo_name=${{ github.repository }} \
            --auth_token=${{ secrets.GOOGLE_OSS_BOT_TOKEN }}
