name: Build Release Artifacts

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'releases/**'

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3.5.3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle

      - name: Perform gradle build
        run: |
          ./gradlew firebasePublish

      - name: Upload generated artifacts
        uses: actions/upload-artifact@v2
        with:
          name: release_artifacts
          path: build/*.zip
          retention-days: 15
