name: Build Release Artifacts

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'releases/**'

jobs:
  build-artifacts:
    # TODO(b/271315039) - Revert back to ubuntu when fixed
    runs-on: macos-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle

      - name: Perform gradle build
        run: |
          ./gradlew firebasePublish

      - name: Generate release notes
        run: |
          python3 docs/make_release_notes.py
          cd build/changelog && zip -r ../release_notes.zip android

      - name: Upload generated artifacts
        uses: actions/upload-artifact@v2
        with:
          name: release_artifacts
          path: build/*.zip
          retention-days: 15
