name: CI Tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  determine_changed:
    name: "Determine changed modules"
    runs-on: ubuntu-22.04
    if: (github.repository == 'Firebase/firebase-android-sdk' && github.event_name == 'push') || github.event_name == 'pull_request'
    outputs:
      modules: ${{ steps.changed-modules.outputs.modules }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
          submodules: true

      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle

      - id: changed-modules
        run: |
          git diff --name-only HEAD~1 | xargs printf -- '--changed-git-paths %s\n' | xargs ./gradlew writeChangedProjects --output-file-path=modules.json
          echo modules=$(cat modules.json) >> $GITHUB_OUTPUT

  unit_tests:
    name: "Unit Tests"
    runs-on: ubuntu-22.04
    needs:
      - determine_changed
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJSON(needs.determine_changed.outputs.modules) }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
          submodules: true

      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle

      - name: Clone ai mock responses
        if: matrix.module == ':firebase-ai'
        run: firebase-ai/update_responses.sh

      - name: Add google-services.json
        env:
          INTEG_TESTS_GOOGLE_SERVICES: ${{ secrets.INTEG_TESTS_GOOGLE_SERVICES }}
        run: |
          echo $INTEG_TESTS_GOOGLE_SERVICES | base64 -d > google-services.json

      - name: ${{ matrix.module }} Unit Tests
        env:
          FIREBASE_CI: 1
        run: |
          ./gradlew ${{matrix.module}}:check withErrorProne
      - name: Compute upload file name
        run: |
          MODULE=${{matrix.module}}
          echo "ARTIFACT_NAME=${MODULE//:/_}" >> $GITHUB_ENV
      - name: Upload Test Results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        if: always()
        with:
          name: unit-test-result-${{env.ARTIFACT_NAME}}
          path: "**/build/test-results/**/*.xml"
          retention-days: 7
          if-no-files-found: ignore

  # A job that fails if any job in the unit_tests matrix fails,
  # to be used as a required check for merging.
  check_all:
    runs-on: ubuntu-22.04
    if: always()
    name: Unit Tests (matrix)
    needs: unit_tests
    steps:
      - name: Check test matrix
        if: needs.unit_tests.result != 'success'
        run: exit 1


  integ_tests:
    name: "Instrumentation Tests"
    # only run on post submit or PRs not originating from forks.
    if: (github.repository == 'Firebase/firebase-android-sdk' && github.event_name == 'push') || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
    runs-on: ubuntu-22.04
    needs:
      - determine_changed
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJSON(needs.determine_changed.outputs.modules) }}
        exclude:
          - module: :firebase-firestore
          - module: :firebase-functions:ktx

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
          submodules: true

      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle

      - name: Add google-services.json
        env:
          INTEG_TESTS_GOOGLE_SERVICES: ${{ secrets.INTEG_TESTS_GOOGLE_SERVICES }}
        run: |
          echo $INTEG_TESTS_GOOGLE_SERVICES | base64 -d > google-services.json
      - uses: google-github-actions/auth@71f986410dfbc7added4569d411d040a91dc6935 # v2.1.8
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - uses: google-github-actions/setup-gcloud@77e7a554d41e2ee56fc945c52dfd3f33d12def9a # v2.1.4
      - name: ${{ matrix.module }} Integ Tests
        env:
          FIREBASE_CI: 1
          FTL_RESULTS_BUCKET: android-ci
          FTL_RESULTS_DIR: ${{ github.event_name == 'pull_request' && format('pr-logs/pull/{0}/{1}/{2}/{3}_{4}/artifacts/', github.repository, github.event.pull_request.number, github.job, github.run_id, github.run_attempt) || format('logs/{0}/{1}_{2}/artifacts/', github.workflow, github.run_id, github.run_attempt)}}
          FIREBASE_APP_CHECK_DEBUG_SECRET: ${{ secrets.FIREBASE_APP_CHECK_DEBUG_SECRET }}
        run: |
          ./gradlew ${{matrix.module}}:deviceCheck withErrorProne -PtargetBackend="prod"

  publish-test-results:
    name: "Publish Tests Results"
    needs:
      - unit_tests
    runs-on: ubuntu-22.04

    permissions:
      checks: write

      # only needed unless run with comment_mode: off
      pull-requests: write

    if: always()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@170bf24d20d201b842d7a52403b73ed297e6645b # v2.18.0
        if: always()
        with:
          files: "artifacts/**/*.xml"
          comment_mode: off
          compare_to_earlier_commit: false
