name: Copyright check

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  copyright-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: '3.12'
      - run: |
          pip install -e "ci/fireci"
      - run: |
          fireci copyright_check \
            -e py                   \
            -e gradle               \
            -e java                 \
            -e kt                 \
            -e groovy               \
            -e sh                   \
            -e proto
