name: Create release

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Release name'
        required: true
        type: string
      past-name:
        description: 'Past release name'
        required: true
        type: string

jobs:
  create-branches:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Create base branch
        uses: peterjgrainger/action-create-branch@08259812c8ebdbf1973747f9297e332fa078d3c1
        with:
          branch: 'releases/${{ inputs.name }}'

  create-pull-request:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - name: Create release configuration template
        run: |
          ./gradlew generateReleaseConfig -PcurrentRelease=${INPUTS_NAME} -PpastRelease=${INPUTS_PAST_NAME} -PprintOutput=true
        env:
          INPUTS_NAME: ${{ inputs.name }}
          INPUTS_PAST_NAME: ${{ inputs.past-name }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          base: 'releases/${{ inputs.name }}'
          branch: 'releases/${{ inputs.name }}.release'
          add-paths: release.json,release_report.md,release_report.json
          title: '${{ inputs.name}} release'
          body: 'Auto-generated PR for release ${{ inputs.name}}'
          commit-message: 'Create release config for ${{ inputs.name }}'
