name: Create release (build tools)

on:
  workflow_dispatch:
    inputs:
      product:
        description: Which product to make a release of ?
        required: true
        type: choice
        options:
          - app-distribution
          - crashlytics
          - performance

permissions:
  contents: read

env:
  ARTIFACTS: ${{ github.workspace }}/build/artifacts

jobs:
  make-app-distribution-release:
    runs-on: ubuntu-latest
    if: inputs.product == 'app-distribution'
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - name: Make release for Firebase App Distribution
        run: |
          ./gradlew \
            -Dmaven.repo.local=${ARTIFACTS} \
            :firebase-appdistribution-gradle:publishToMavenLocal
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: firebase-appdistribution-gradle
          path: ${{ env.ARTIFACTS }}


  make-crashlytics-release:
    runs-on: ubuntu-latest
    if: inputs.product == 'crashlytics'
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - name: Make release for Firebase Crashlytics Buildtools
        run: |
          ./gradlew \
            -Dmaven.repo.local=${ARTIFACTS}-buildtools \
            :firebase-crashlytics-buildtools:publishToMavenLocal
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: firebase-crashlytics-buildtools
          path: ${{ env.ARTIFACTS }}-buildtools
      - name: Make release for Firebase Crashlytics Gradle Plugin
        run: |
          ./gradlew \
            -Dmaven.repo.local=${ARTIFACTS}-plugin \
            :firebase-crashlytics-gradle:publishToMavenLocal
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: firebase-crashlytics-gradle
          path: ${{ env.ARTIFACTS }}-plugin


  make-performance-release:
    runs-on: ubuntu-latest
    if: inputs.product == 'performance'
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - name: Make release for Firebase Performance
        run: |
          ./gradlew \
            -Dmaven.repo.local=${ARTIFACTS} \
            :firebase-perf-gradle:publishToMavenLocal
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: firebase-perf-gradle
          path: ${{ env.ARTIFACTS }}
