name: Make BoM

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: actions/checkout@v3.5.3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle

      - name: Build
        run: |
          ./ci/run.sh \
          --artifact-target-dir=./logs/artifacts \
          --artifact-patterns=bom.zip \
          --artifact-patterns=bomReleaseNotes.md \
          --artifact-patterns=recipeVersionUpdate.txt \
          gradle \
          -- \
          --build-cache \
          buildBomZip

      - name: Upload generated artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: ./logs/artifacts/
          retention-days: 5
