name: Metalava SemVer Check

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout main
        uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.base_ref }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4.1.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle

      - name: Copy previous api.txt files
        run: ./gradlew copyApiTxtFile

      - name: Checkout PR
        uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.head_ref }}
          clean: false

      - name: Run Metalava SemVer check
        run: ./gradlew metalavaSemver
