name: Release note changes

on:
  pull_request:
    branches:
      - 'main'

jobs:
  release-notes-changed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Create output file
        run: touch changelog_comment.md

      - name: Get changed changelog files
        id: changed-files
        run: |
          git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha}} | grep CHANGELOG.md > /tmp/changelog_file_list.txt
          if [[ "$?" == "0" ]]
          then
            echo "any_changed=true" >> $GITHUB_OUTPUT
          else
            echo "any_changed=false" >> $GITHUB_OUTPUT
          fi
          echo "all_changed_files=$(cat /tmp/changelog_file_list.txt)" >> $GITHUB_OUTPUT
          rm /tmp/changelog_file_list.txt

      - name: Set up JDK 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle

      - name: Set up Python 3.10
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        with:
          python-version: '3.12'

      - name: Set up fireci
        id: install-fireci
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: pip3 install -e ci/fireci

      - name: Generate comment
        id: generate-comment
        if: ${{ steps.install-fireci.outcome == 'success' }}
        run: |
          fireci changelog_comment -c "${STEPS_CHANGED_FILES_OUTPUTS_ALL_CHANGED_FILES}" -o ./changelog_comment.md
        env:
          STEPS_CHANGED_FILES_OUTPUTS_ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}

      - name: Add PR Comment
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        continue-on-error: true
        with:
          status: ${{ steps.generate-comment.outcome }}
          message-path: ./changelog_comment.md
          message-skipped: |
            ## Release note changes
            No release note changes were detected. If you made changes that should be
            present in the next release, ensure you've added an entry in the appropriate
            `CHANGELOG.md` file(s).
          message-failure: |
            ## Release note changes
            A `CHANGELOG.md` file seems to not match the expected format.
            Please ensure your changelog files are following the format as
            defined in [our documentation](#).
