name: Semver Check

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'master'

jobs:
  determine_changed:
    name: "Determine changed modules"
    runs-on: ubuntu-22.04
    if: (github.repository == 'Firebase/firebase-android-sdk' && github.event_name == 'push') || github.event_name == 'pull_request'
    outputs:
      modules: ${{ steps.changed-modules.outputs.modules }}
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 2
          submodules: true

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle

      - id: changed-modules
        run: |
          git diff --name-only HEAD~1 | xargs printf -- '--changed-git-paths %s\n' | xargs ./gradlew writeChangedProjects --output-file-path=modules.json
          echo modules=$(cat modules.json) >> $GITHUB_OUTPUT

  semver_checks:
    name: "Semver Checks"
    runs-on: ubuntu-22.04
    needs:
      - determine_changed
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJSON(needs.determine_changed.outputs.modules) }}

    steps:
      - uses: actions/checkout@v3.5.3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle

      - name: ${{ matrix.module }} Semver Check
        run: |
          ./gradlew ${{matrix.module}}:semverCheck

  # A job that fails if any job in the semver_checks matrix fails,
  # to be used as a required check for merging.
  check_all:
    runs-on: ubuntu-22.04
    if: always()
    name: Semver Check (matrix)
    needs: semver_checks
    steps:
      - name: Check test matrix
        if: needs.semver_checks.result != 'success'
        run: exit 1
