name: Semver Check

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'releases/**'

jobs:
  semver-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK 17
        uses: actions/setup-java@v4.1.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - name: Perform gradle build
        run: |
          ./gradlew semverCheckForRelease
