name: Smoke Tests

on: [ pull_request ]

jobs:
  smoke-tests:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 2
          submodules: true
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - uses: google-github-actions/setup-gcloud@v2

      # TODO(yifany): make it a fireci plugin and remove the separately distributed jar file
      - name: Download smoke tests runner
        run: |
          SMOKE_TESTS_RUNNER_URL="https://storage.googleapis.com/android-ci/smoke-tests-runner.jar"
          curl ${SMOKE_TESTS_RUNNER_URL} --output runner.jar

      # TODO(yifany): remove hardcoded reference to /smoke-tests-google-services from the runner
      - name: Add google-services.json
        env:
          SMOKE_TESTS_GOOGLE_SERVICES: ${{ secrets.SMOKE_TESTS_GOOGLE_SERVICES }}
        run: |
          echo $SMOKE_TESTS_GOOGLE_SERVICES | base64 -d > google-services.json
          sudo mkdir /smoke-tests-google-services
          sudo mv google-services.json /smoke-tests-google-services

      # TODO(yifany): remove hardcoded reference to Prow environment variables from the runner
      - name: Run smoke tests
        env:
          FIREBASE_CI: 1
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: firebase-android-sdk
          PULL_NUMBER: ${{ github.event.pull_request.number }}
          JOB_NAME: smoke-tests
          BUILD_ID: ${{ github.run_id }}
          ARTIFACTS: ${{ runner.temp }}
        run: java -jar runner.jar smoke-tests/runner.config

      - name: Upload test artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: smoke-tests-artifacts
          path: |
            ${{ runner.temp }}/**/*.apk
            ${{ runner.temp }}/**/changed-artifacts.json
            ${{ runner.temp }}/**/smoke-test-dependencies.log
